.tutorial-page header {
    background-image: url('./../../assets/cards/width-overflow.svg');
}

#myFrame {
    border-radius: .4em;
    background: #c290e0;
    height: 20em;
    transition: .5s ease-in-out;
}